body {
    width: 960px;
}

.all {
    display: flex;
    flex-direction: row;

}

.services {
    width: 30%;
    justify-content: space-between;
    height: 350px;
    margin: 1px;
    padding: 0;
    background-color: red;
}
