body {
    margin: 0;
   } 

a {
    color: white;
    text-decoration: none
}

a:visited {
    color: white;
    text-decoration: none
}

a:active {
    color: white;
    text-decoration: none
}

.header {
    background-image: url(./img/wz-111.jpg);
    height: 900px;
}

.top-menu{
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-menu nav{
    float: right;
}

.logo {
    float: left;
}

.menu {
    color: springgreen;
    font-size: 20px;
}
.menu li{
    padding-top: 15px;
    padding-right: 50px;
    font-size:25px;    
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    display:inline-block;
    color: black;
}

.slogan {
    color: white;
    padding-top: 15%;
    display: table; 
    margin: 0 auto; 
    text-align: center;
}

.services h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.services_image {
    height: 100px;
    width: 100px;
}

.services {
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.first_row {
    display: flex;
  align-items: stretch;
}

.second_row {
    display: flex;
  align-items: stretch;
}

.services_bottom a{
    color: black;
    text-decoration: none;
}

.contacts_bottom a{
    color: black;
    text-decoration: none;
}